<!-- Footer Start -->
<div class="container-fluid bg-dark text-white footer pt-5">
    <div class="container py-5">
        <div class="row g-5">
            <div class="col-md-6 col-lg-3 wow fadeIn" data-wow-delay="0.1s">
                <a href="/" class="navbar-brand d-flex flex-column align-items-start me-3" style="max-width: 280px;">
                <img src="img/footerlogo.jpg" alt="Logo" class="img-fluid" style="height: 40px; width: auto; object-fit: contain;">
                </a>
                <p class="mb-0" data-i18n="footer_note">Đại lý / đối tác ủy quyền của KEITH® Mfg. Co, tại Việt Nam</p>
            </div>
            <div class="col-md-6 col-lg-3 wow fadeIn" data-wow-delay="0.3s">
                <h5 class="text-white mb-4" data-i18n="footer_address">Địa chỉ</h5>
                <p><i class="fa fa-map-marker-alt me-3"></i><span data-i18n="footer_office_label">Văn Phòng:</span> 39 Chu Văn An, P. Hiệp Phú, TP. Thủ Đức, TP. Hồ Chí Minh</p>
                <p><i class="fa fa-map-marker-alt me-3"></i><span data-i18n="footer_factory_label">Nhà xưởng:</span> DT741, Kỉnh Nhượng, H. Phú Giáo, Tỉnh Bình Dương</p>
                <p><i class="fa fa-phone-alt me-3"></i><span data-i18n="footer_phone_label">Điện thoại:</span> 0907.917.301</p>
                <p><i class="fa fa-envelope me-3"></i><span data-i18n="footer_email_label">Email:</span> info@keithwalkingfloor.vn</p>
            </div>
            <div class="col-md-6 col-lg-3 wow fadeIn" data-wow-delay="0.5s">
                <h5 class="text-white mb-4" data-i18n="footer_links">Liên kết</h5>
                <a class="btn btn-link" href="/index.html" data-i18n="footer_home">Trang chủ</a>
                <a class="btn btn-link" href="/aboutnhutin.html" data-i18n="footer_about_nhutin">Như Tín</a>
                <a class="btn btn-link" href="/aboutkeith.html" data-i18n="footer_about_keith">KEITH®</a>
                <a class="btn btn-link" href="/ungdung.html" data-i18n="footer_apps">Lĩnh vực ứng dụng</a>
                <a class="btn btn-link" href="/product.html" data-i18n="footer_products">Sản phẩm</a>
            </div>
            <div class="col-md-6 col-lg-3 wow fadeIn" data-wow-delay="0.7s">
                <h5 class="text-white mb-4" data-i18n="footer_connect">Kết nối</h5>
                <div class="d-flex pt-2">
                    <a class="btn btn-outline-primary btn-square border-2 me-2" href="https://www.facebook.com/people/Keith-Walking-Floor-Vi%E1%BB%87t-Nam/61556800334664/" target="_blank"><i class="fab fa-facebook-f"></i></a>
                    <a class="btn btn-outline-primary btn-square border-2 me-2" href="https://www.youtube.com/@nhutincorp" target="_blank"><i class="fab fa-youtube"></i></a>
                    <a class="btn btn-outline-primary btn-square border-2 me-2" 
                        href="mailto:Nhutincorp@gmail.com">
                        <i class="fab fa-google"></i>
                    </a>

                    <!-- <a class="btn btn-outline-primary btn-square border-2 me-2" href="#!" target="_blank"><i class="fab fa-linkedin-in"></i></a> -->
                </div>
            </div>
        </div>
    </div>
    <div class="container wow fadeIn" data-wow-delay="0.1s">
        <div class="copyright">
            <div class="row">
                <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                    Copyright 2025 &copy; <a class="border-bottom" href="/index.html">Keith Walking Floor.vn</a>, All Right Reserved.
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Footer End -->

<!-- Floating Contacts -->
<div class="fab-zalo"><a class="fab-circle" href="https://zalo.me/0907917301" target="_blank" rel="noopener" title="Chat Zalo">Zalo</a></div>
<div class="fab-call"><a class="fab-circle" href="tel:0907917301" title="Gọi ngay"><i class="fa fa-phone"></i></a></div>

<!-- Back to Top -->
<a href="#!" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>

<!-- i18n: Google Translate removed -->
